<div>
  <a href="/">All Posts</a>
  <br />
  <input type="text" id="postTitle" placeholder="post title" />
  <br />
  <textarea id="postText"></textarea>
  <br />
  <button id="submitPost">Post</button>
</div>
